body {
  background: #fdf4e2;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  background-size: 60% auto;
  animation: heartbeatBg 5s ease-in-out infinite;
}

@keyframes heartbeatBg {
  0%,
  100% {
    background-size: 60% auto;
  }

  20% {
    background-size: 65% auto;
  }

  40% {
    background-size: 60% auto;
  }

  60% {
    background-size: 65% auto;
  }

  80% {
    background-size: 60% auto;
  }
}

/* FOR MOBILE VIEW */
@media (width <= 480px) {
  body {
    background-size: 60vw;
    background-position: center center;
  }
}

.homepage-background {
  background-color: #fdf3e2;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: flex;
  align-items: stretch;
  color: #66440c;
}

.no-touch-scroll canvas {
  touch-action: none;
}

.form-container {
  background: rgba(188, 186, 186, 0.7);
  text-align: center;
  display: absolute;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 60%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 40px;
  position: absolute;
  top: 15%;
  left: 15%;
  box-shadow: 2px 2px 4px rgba(103, 103, 110, 0.5);
}

.login-container {
  background: rgba(188, 186, 186, 0.7);
  text-align: center;
  display: absolute;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  border-radius: 40px;
  position: absolute;
  top: 60%;
  left: 18%;
  width: 65%;
  box-shadow: 2px 2px 4px rgba(103, 103, 110, 0.5);
}

.therapy-page {
  width: 100%;
}

.parent-reg-page,
.kids-reg-page,
.screen-time-page {
  margin-top: 50px;
}

h2 {
  text-align: center;
  z-index: 1;
  position: relative;
  margin-top: 50px;
}

p {
  padding-top: 2rem;
  color: rgb(226, 48, 48);
  font-weight: bold;
  font-size: large;
}

.logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 50%;
  background-position: center;
  animation: bounceIn 2s ease infinite;
  animation-fill-mode: forwards;
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@media (width <= 480px) {
  .logo-header {
    background-size: 60vw;
    margin-top: 50%;
  }
}

label {
  display: block;
  font-size: x-large;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  z-index: 1;
  position: relative;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='time'],
.childSelect {
  font-size: large;
  width: 60%;
  padding: 2%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-color: #c8c4bd;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(113, 108, 108, 0.5);
  z-index: 1;
  position: relative;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  background-color: #0bb4c0;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: 0.5s;
  margin-top: 1.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  border-color: #6e74ed;
  transform: scale(1.1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sketchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-style {
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.exitButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.5s;
  box-shadow: none;
  position: relative;
  justify-content: right;
}

.closeIcon {
  width: 40px;
  height: 40px;
}

.sign-in-header h2,
.card {
  justify-content: center;
  display: flex;
}

.card {
  padding-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex-end;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header h1 {
  color: #603800;
  font-size: 1.8rem;
  font-weight: bold;
}

.header h2 {
  justify-content: center;
  display: flex;
}

input::placeholder {
  font-style: italic;
  color: gray;
}

.exit-button {
  padding: 2px;
  border: 0;
}

.circle {
  position: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 6px solid #1ec6dc;
  background-color: #fffdf2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.time {
  font-weight: bold;
  color: #333;
  text-align: center;
}

.no-therapy-box {
  border: 4px dashed #aaa;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 12px;
  background-color: #fdfdfd;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.story-book {
  color: rgb(238, 239, 243);
  justify-content: center;
  display: flex;
  top: 40%;
  margin-top: 3rem;
}

.button-to-right {
  /* closeIcon */
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}

.kids-logo {
  width: 150px;
}

.kids-header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  gap: 20px;
}

.story-book-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 40px;
  position: absolute;
  top: 25%;
  left: 20%;
  backdrop-filter: blur(5px);
}

.story-background {
  background-image: url('/images/StorybookBg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1e2a35;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-background::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* darker overlay */
  z-index: 0;
}

.storybook-title {
  font-size: 3rem;
  color: #cacccf;
  text-shadow: 2px 2px 4px #000, 0 0 10px #ffe066, 0 0 20px #ffa94d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: glow-pulse 2s infinite alternate;
  position: absolute;
  top: 10px;
}

@keyframes glow-pulse {
  0% {
    text-shadow: 2px 2px 4px #000, 0 0 10px #ffe066, 0 0 20px #ffa94d;
  }

  100% {
    text-shadow: 2px 2px 6px #000, 0 0 20px #ffd43b, 0 0 30px #ff922b;
  }
}

.therapy-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.therapy-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  text-align: center;
  width: 30%;
}

.sketch-button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  height: 50px;
  flex-wrap: wrap;
}

@media (width <= 480px) {
  .sketch-button-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-left: 5px;
    justify-items: center;
  }
}
