body {
  background: #fdf4e2;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

/* FOR MOBILE VIEW */
@media (width <= 480px) {
  body {
    background-size: 50vw;
    background-position: top center;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: flex;
  align-items: stretch;
  color: #66440c;
}

.no-touch-scroll canvas {
  touch-action: none;
}

.parentFormContainer,
.kidsFormContainer {
  background: rgba(188, 186, 186, 0.7);
  text-align: center;
  display: absolute;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 40px;
  position: absolute;
  top: 12%;
  left: 15%;
  box-shadow: 2px 2px 4px rgba(103, 103, 110, 0.5);
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

label {
  display: block;
  font-size: x-large;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  z-index: 1;
  position: relative;
}

input[type='text'],
input[type='password'] {
  width: 60%;
  padding: 2%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-color: #c8c4bd;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(113, 108, 108, 0.5);
  z-index: 1;
  position: relative;
}

.buttonGrp {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  background-color: #0bb4c0;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: 0.5s;
  margin-top: 1.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  border-color: #646cff;
  transform: scale(1.1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.canvas-style {
  border: 5px solid #ccc;
  border-radius: 50px;
}

.react-canvas-draw {
  touch-action: none;
}

.exitButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.5s;
}

.closeIcon {
  width: 50px;
  height: 50px;
}
