body {
  background: #fdf4e2;
  background-image: url('/images/logo.png');
  background-size: 150px;
  background-repeat: no-repeat;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}
