.times-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 52, 70, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.times-up-modal {
  background: #4d7596;
  padding: 60px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  max-width: 400px;
  width: 100%;
}

@media (max-width <= 480px) {
  .times-up-modal {
    padding: 30px 20px;
    font-size: 1rem;
  }
}

.times-up-img {
  width: 200px;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.parent-login-form {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  justify-content: center;
}

.parent-login-form button {
  background-color: #00bcd4;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.parent-login-form button:hover {
  background-color: #e67628;
  transform: scale(1.05);
}

span {
  font: 30px;
}

.error-text {
  color: rgb(207, 203, 203);
}

.times-up-modal > h1 {
  color: #9beaec;
  font-size: 36px;
}

.welcome {
  font-size: 36px;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-stretch: expanded;
}
